<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>UzBitly</title>
</head>
<body>
    <form method="POST" action="/natija">
    <div class="mt-5">
    <label for="basic-url" class="form-label">Url manzilni tashang</label>
<div class="input-group mb-5">
  <span class="input-group-text" id="basic-addon3">Masalan: https://uzbitly.uz/</span>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="text">
  <input type="submit" value="Qisqartirish" class="btn btn-success">
</div></div></form>
<div class="form-floating">
    <textarea class="form-control" placeholder="Qisqarilgan havola" id="floatingTextarea">{{result}}</textarea>
    <br><button onclick="myFunction()" class="btn btn-success">Nusxa olish</button>
  </div>
<script>
    function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("floatingTextarea");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Nusxa olindi: " + copyText.value);
} 
</script>
</body>
</html>